
*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: rgb(11, 11, 11);
    color: white;
    font-size: 23px;
    font-family: arial;
    margin: 7% 20%;
    height: fit-content;
    align-items: center;
}
button #lang{
    background-color: red;
}

.box{
    background-color: rgb(0, 0, 0);
    
    width: fit-content;
    height: fit-content;/*changed from stablished vh height to fit-cntent*/

    justify-content: center;
    align-items: center;

    text-align: center;
    padding-top: 18px;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.148);
    border-style: solid;
    border-width: .1px;
    border-color: rgb(73, 73, 73);
}

.box h2{
    margin: 5%;
}

#ph{
    margin-top: 6%;
    font-size: 30px;
}

#link{
    color: orange;
    text-decoration: none;
}

#link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.box button{
    margin-top: 5%;
    background-color: rgb(254, 254, 254);
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
}
#this-site{
    color: rgb(172, 172, 172);
    padding-left:7vh;
    padding-right: 7vh;
    font-size: 25px;
}
/*Access buttons*/

#orange-btn {
    background-color: rgb(234, 152, 0);
    color: rgb(0, 0, 0);
    padding-left: 50px;
    padding-right: 50px;
}

#orange-btn:hover{
    background-color: rgb(255, 169, 9);
    cursor: pointer;
}

#black-btn{
    background-color: rgb(32, 32, 32);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

#black-btn:hover{
    background-color: rgb(56, 56, 56);
    cursor: pointer;
}

#black-btn, #orange-btn{ 
    margin-left: 2%;
    margin-bottom: 3%;

}

#copyright{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: rgb(107, 107, 107);
}

#rta{
    margin-bottom: 3%;
    justify-content: center;
    font-weight: 400;
    color: white;
    font-size: larger;
    font-style: bold;
}

@media (max-width: 844px) {
    body {
        margin: 0;                 /* remove side margins */
        height: 100vh;             /* full viewport height */
        display: flex;             
        justify-content: center;   /* center horizontally */
        align-items: center;       /* center vertically */
        font-size: 18px;
        background-color: rgb(11, 11, 11);
    }

    .box {
        width: 90%;
        max-width:90%;          /* optional max width */
        padding: 20px;

        text-align: center;
    }

    .box button {
        padding: 10px 210px;
        font-size: 20px;
    }

    #ph {
        font-size: 24px;
    }

    #this-site {
        font-size: 18px;
        padding-left: 3vh;
        padding-right: 2vh;
    }
}
